/************ BASIC STRUCTURE ************/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    font-size: 16px;
}

.bm-page-container {
    position: abosolute;
    margin-left: 289px;
    margin-right: 250px;
    margin-top: 69px;
    margin-bottom: 35px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .bm-page-container {
        margin-left: 12px;
    }
}

/************ STYLING ************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'noto sans', sans-serif;
    color: #4A4A4A;
}

.label {
    font-size: 10px;
}

a {
    color: #375381;
    text-decoration: none;
}

a:hover {
    color: #79D3F8;
    cursor: pointer;
}

a:active {
    color: #777777;
}

a:focus {
    color: ;
}

strong {
    font-weight: bold;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

/************ NAVIGATION SIDE PANEL ************/

.bm-nav-wrapper {
    display: block;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #4386C0; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#4f98ca, #59acd5); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#4f98ca, #59acd5); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#4f98ca, #59acd5); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#4f98ca, #59acd5); /* Standard syntax */
    color: #fff;
    transition: all 0.3s;
    z-index: 9999;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (min-width: 769px) {
    #sidebarCollapse {
        display: none;
    }
    
    #dismiss {
        display: none;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 0px;
    background: #fff;
}

#sidebar .sidebar-header img {
    max-width: 100%;
}

#sidebar #current-user {
    width: 100%;
    min-height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #375381;
    background-blend-mode: multiply;
    font-size: 12px;
    text-align: center;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul > li > a,
#sidebar #restrictedSettings li > a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sidebar #restrictedSettings {
    position: fixed;
    bottom: 0;
    width: 250px;
}

#sidebar ul > li {
    background: #4386C0;
    border-bottom: 1px #fff solid;
}

#sidebar ul li a {
    padding: 15px 10px 15px 10px;
    color: #fff;
    font-size: 1em;
    display: block;
}

#sidebar ul ul li,
#sidebar ul #restrictedSettings ul li {
    font-weight: 400;
    position: relative;
    border-bottom: none;
    border-top: none;
}

#sidebar ul ul li a {
    padding-left: 24px;
    background: #efefef;
    color: #375381;
    font-size: 0.8em;
    text-transform: none;
}

#sidebar ul ul li .menu__subitem,
#sidebar ul #restrictedSettings ul li .menu__subitem {
    border-bottom: 1.7px #4386C0 solid;
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 15px;
}

#sidebar ul #restrictedSettings ul li .menu__subitem {
    border-bottom: 1.7px #8F909C solid;
}

#sidebar ul #restrictedSettings li {
    background: #375381;
    border-top: 1.2px #fff solid;
    border-bottom: none;
}

#sidebar ul #restrictedSettings > li > a {
    padding: 15px;
    display: block;
    font-size: 0.9em;
    text-align: center;
}

#sidebar ul #restrictedSettings ul li a {
    background: #4A4A4A;
    color: #fff;
    text-transform: none;
}

#sidebar ul > li > a:hover {
    color: #ffffff;
    background: #1268aa;
    text-decoration: none;
}

#sidebar ul ul li a:hover {
    color: #1268aa;
    background-color: #efefef;
    text-decoration: underline;
}

#sidebar ul #restrictedSettings > li > a:hover{
    background-color: #e64c3c;
}

#sidebar ul #restrictedSettings li ul li a:hover{
    color: #d4d4d4;
    text-decoration: underline;
}

#sidebar ul #restrictedSettings > li a:hover{
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    border-bottom: 1.5px #fff solid;
    background: #3B76A9;
}

#sidebar ul #restrictedSettings li.active > a,
#restrictedSettings li > a[aria-expanded="true"] {
    border-bottom: 1.2px #fff solid;
    background: #2e2e2e;
}

#sidebar ul ul a {
    text-transform: capitalize;
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #4386c0;
}

.nav-item-icon {
    height: 24px;
    width: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.bm-row-fixed {
    margin: 0;
}

.bm-nav-toggle-btn {
    background: #375381;
    color: #fff;
    font-size: .9em;
    height: 25px;
    width: 35px;
    padding: 0px;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: -10px;
}

.bm-nav-dismiss-btn {
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 1em;
    max-height: 25px;
    max-width: 20px;
    padding: 0px;
    margin-top: -6px;
    margin-bottom: 12px;
    margin-right: -8px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.bm-nav-toggle-btn:hover,
.bm-nav-dismiss-btn:hover {
    cursor: pointer;
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}


/************ LOG IN PAGE ************/

#login-page {
    padding-top: 128px;
    padding-bottom: 256px;
}

#login-page .bm-logo {
    width: 225px;
    height: auto;
    margin-bottom: 24px;
}

#loginBtn {
    min-width: 225px;
}

.bm-login {
}

/************ DASHBOARD PAGE ************/

#dashboard-page {
    margin: 128px;
}


.bm-center {
    text-align: center;
    margin: 0 auto;
}

/************ USERS PAGE ************/


/************ ACTION SIDEBAR ************/

.bm-action-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    max-width: 226px;
    min-width: 226px;
    height: 100vh;
    background: #4A4A4A;
    padding: 65px 12px 35px 12px;
    text-align: center;
    z-index: 996;
}

.bm-action-sidebar .bm-btn {
    display: inline-block;
    width: 201px !important;
}

.bm-action-sidebar .input-group {
    width: 201px !important;
    margin: 12px 0px;
}

.bm-action-sidebar .input-group-addon img {
    max-height: 24px;
}

/************ DATATABLE ************/

.bm-datatable {
    
}

.bm-datatable .row {
}

.bm-datatable__row {
    border-bottom: 1.7px #EFEFEF solid;
    margin-bottom: 12px;
}

.bm-datatable__row .bm-databit {
    width: 15vw;
}

.bm-datatable__row .bm-databit h4 {
    color: #375381;
    font-size: 16px;
}

.bm-datatable__row .bm-databit h6 {
    color: #4A4A4A;
    font-size: 10px;
}

.datatable__filter-options {
    margin-top: 36px;
}

/************ MISCELLANEOUS COMPONENTS ************/

.bm-breadcrumb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #EFEFEF;
    z-index: 997;
}

.bm-breadcrumb h3 {
    margin-top: 9px;
    padding-left: 25px;
    font-weight: 700;
    color: #375381;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 769px) {
    .bm-breadcrumb h3 {
        margin-left: 250px;
    }
}

#signout-widget button {
    all: initial;
}

#signout-widget {
    position: fixed;
    right: 0;
    padding-right: 24px;
    height: 55px;
}

.signout__tile {
  width: 100%;
  text-align: center;
  display: inline-block;
    margin-top: 6px;
}

.signout__icon {
  width: 24px;
  height: 22px;
}

.signout__tile:hover {
    cursor: pointer;
}

.signout__label {
    height: 6px !important;
    width: 100%; !important;
    color: #375381;
    font-family: 'Omnes',sans-serif !important;
    font-size: 10px;
    text-align: center;
    font-size: 10px;
}

.bm-btn {
    margin: 12px 0px;
    padding: 8px 24px;
    height: 35px;
    color: #fff;
    background: #4386C0; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#4f98ca, #59acd5); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#4f98ca, #59acd5); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#4f98ca, #59acd5); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#4f98ca, #59acd5); /* Standard syntax */
    border-radius: 99px;
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}


#login-page .bm-btn {
    margin-top: 24px;
}

.bm-input__text {
    border-radius: 3px;
    border: 0;
    background: #EFEFEF;
    padding: 8px 12px;
    font-size: 14px;
}

.bm-input__text:focus {
    border: 1px #79D3F8 solid;
    color: #375381;
}

#bm-pagination {
    
}

#bm-pagination .pagination>li>a,
#bm-pagination .pagination>li>span {
    color: #375381;
    border: 1px solid #375381;
}

#bm-pagination .pagination>li.active>a {
  background: #375381;
  color: #fff;
}

ul.pagination .page-item:first-child a {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-left: 17px;
}

ul.pagination .page-item:last-child a {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-right: 17px;
}

.bm-input__label {
    font-size: 0.7em;
}



/*** STYLES CHECKBOX AS TOGGLE ***/

.switch .bm-input__label {
    white-space: nowrap;
    color: #375381;
    margin-left: 54px;
    padding-top: 3px;
}

.switch:hover {
    text-decoration: underline;
    color: #12688a;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EFEFEF;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #375381;
}

input:focus + .slider {
  box-shadow: 0 0 1px #375381;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-input-placeholder { /* Chrome */
  color: #8F909C !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #8F909C !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8F909C !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #8F909C !important;
  opacity: 1;
}

.bm-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4386C0; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#4f98ca, #59acd5); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#4f98ca, #59acd5); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#4f98ca, #59acd5); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#4f98ca, #59acd5); /* Standard syntax */
    padding: 12px;
    padding-right: 48px;
    color: #fff;
    text-align: right;
    font-size: 14px;
    z-index: 997;
}